<%= form_with(model: [:dashboard, category], local: true) do |form| %>
  <% if dashboard_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dashboard_category.errors.count, "error") %> prohibited this dashboard_category from being saved:</h2>

      <ul>
      <% dashboard_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :dashboard_category_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :dashboard_category_description %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, id: :dashboard_category_tags %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
