<%= form_with(model: dashboard_post, local: true) do |form| %>
  <% if dashboard_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dashboard_post.errors.count, "error") %> prohibited this dashboard_post from being saved:</h2>

      <ul>
      <% dashboard_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :dashboard_post_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :dashboard_post_description %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :dashboard_post_content %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published, id: :dashboard_post_published %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, id: :dashboard_post_tags %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
