<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dashboard_post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dashboard_post.description %>
</p>

<p>
  <strong>Content:</strong>
  <%= @dashboard_post.content %>
</p>

<p>
  <strong>Published:</strong>
  <%= @dashboard_post.published %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @dashboard_post.tags %>
</p>

<%= link_to 'Edit', edit_dashboard_post_path(@dashboard_post) %> |
<%= link_to 'Back', dashboard_posts_path %>
