<p id="notice"><%= notice %></p>

<h1>Dashboard Newsletters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dashboard_newsletters.each do |dashboard_newsletter| %>
      <tr>
        <td><%= dashboard_newsletter.name %></td>
        <td><%= dashboard_newsletter.email %></td>
        <td><%= dashboard_newsletter.status %></td>
        <td><%= link_to 'Show', dashboard_newsletter %></td>
        <td><%= link_to 'Edit', edit_dashboard_newsletter_path(dashboard_newsletter) %></td>
        <td><%= link_to 'Destroy', dashboard_newsletter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dashboard Newsletter', new_dashboard_newsletter_path %>
