<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dashboard_newsletter.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dashboard_newsletter.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dashboard_newsletter.status %>
</p>

<%= link_to 'Edit', edit_dashboard_newsletter_path(@dashboard_newsletter) %> |
<%= link_to 'Back', dashboard_newsletters_path %>
